<tr bgcolor="#ffffff">
    <td>
    	<a name="greenpepper-children">
    	<font color="#006600"> <b>{greenpepper-include}</b> </font>
    </td>
    <td>
        <p>$greenPepper.getText('greenpepper.include.helpdesc')</p>
		<p>$greenPepper.getText('greenpepper.macros.seealso')&nbsp;<a href="http://www.greenpeppersoftware.com/confluence/display/GP/Confluence+Macros">$greenPepper.getText('greenpepper.macros.guide')</a></p>
    </td>
</tr>