/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

gpname {
    font-family: fantasy;
    display: inline;
}

.team-member {
	max-height: 100px;
} 
.team-member-pict {
	height: 80px;
}

.headings-glyph {
	text-align: center;
	font-size: 5em;
}

#sidebar-menu ul {
    list-style-type: none;
	padding: 0;
}

#sidebar-menu .main-menu a {
    display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
	color: #11427D;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #11427D;
}

#sidebar-menu .sub-menu a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}

#sidebar-menu .nav-header {
    border-left: 5px solid #eee;
    padding: 10px 20px;
    font-weight: bold;
}

#sidebar-menu .main-menu .active>a {
	background-color: #eee; 
}

.project-preview {
    padding: 10px;
}

.project-preview .media-body {
    vertical-align:middle;
}

.project-preview-icon {
    font-size: 6em;
    text-align: center;
    vertical-align:middle;
  	display:inline-block;
}

#usage-overview {
	max-width: 800px;
}
.usage-step-preview h1 {
	font-size: medium;
}


.downloads-section {
	
}

.downloads-section .visual {
	
}

.downloads-section .body {
	
}

.faq > .answer > .long {
}

.faq > .answer > .long {
    font-size: small;
}