<span style="font-family: Arial, sans-serif; font-size: 1em; font-weight: bold; padding: 0px 3px;"><img src="$req.contextPath/download/resources/com.greenpepper.confluence.plugin:greenpepper-logo/images/greenpepper_12.gif" alt="" border="0">&nbsp;<span style="color:#003300;">Green</span><span style="color:#8CC06D;">Pepper</span></span>