<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%t] %-5p %-15c{1} %m%n</Pattern>
			<!-- <Pattern>%d %-5p - %message \(%file:%line\) %n</Pattern> -->			
		</layout>
	</appender>

	<logger name="SYSOUT" level="INFO"/>
	<logger name="SYSERR" level="INFO"/>
	<logger name="com.greenpepper.util.cmdline.CommandLineExecutor" level="INFO"/>
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
